/*
 * RNA-seq Pipeline Configuration
 */

params {
    samplesheet = "${projectDir}/assets/samplesheet.csv"
    genome_index = null
    gtf = null
    outdir = "results"
}

process {
    cpus = 4
    memory = '8 GB'
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
    }

    test {
        params.samplesheet = "${projectDir}/test/samplesheet.csv"
        params.genome_index = "${projectDir}/test/genome"
        params.gtf = "${projectDir}/test/genes.gtf"
        params.strandedness = 0  // synthetic data is unstranded
        params.ref_condition = "negative"

        process {
            cpus = 1
            memory = '2 GB'
        }
    }
}

manifest {
    name = 'rnaseq-nextflow-pipeline'
    author = 'Ekin Kahraman'
    description = 'Bulk RNA-seq pipeline: FastQC, fastp, HISAT2, featureCounts, DESeq2, MultiQC'
    version = '1.0.0'
    nextflowVersion = '>=24.0'
    mainScript = 'main.nf'
}
